/tpch-kit
/queryresults
/tpch-tables
*.tbl
*.duckdb
.python-version
.DS_Store
/build
*.synctex.gz
*.aux
test.py
inital_playground.py
playground.py
**/__pycache__
*.wal
*.tmp
/results
config.json
/resources