
*.tbl
*.pdf
.python-version
.DS_Store
/build
*.synctex.gz
*.aux
**/__pycache__
*.wal
*.tmp
config.json
*.json
src/plot/3d_costdiagram_test.py
/resources/queries_fd/skew_example/p.py
results/job/qplans/
/Users/fridtjofdamm/Documents/thesis-robustness-benchmarking/results/job/qplans/
*.ipynb
/resources/query_examples/countries.ipynb
resources/query_examples/countries.ipynb
/src/src_archive/
/results/archive
/thesis
.gitignore
/src/utils/evaluate_query_exec_times.py
/results/plots
# Except this path
!/Users/fridtjofdamm/Documents/thesis-robustness-benchmarking/results/job/csvs/plottable
!/Users/fridtjofdamm/Documents/thesis-robustness-benchmarking/resources/job_parameterized
!/Users/fridtjofdamm/Documents/thesis-robustness-benchmarking/resources/queries_tpch


