/tpch-kit
/queryresults
/tpch-tables
*.tbl
*.duckdb
.python-version
.DS_Store
/build
*.synctex.gz
*.aux
test.py
inital_playground.py
playground.py
**/__pycache__
*.wal
*.tmp
config.json
/results/tpch
/results/tpch/analyse
/results/dummyresults
/results/parameters_sf10
/results/parameters_sf100
/results/plots
/results/postgres
/results/queryresults_sf10
/results/queryresults_sf100
/results/job
/results/job/qplans
*.bib
*.tex
*.png